* {
  font-family: 'Source Code Pro','Times New Roman', Times, serif;
  color: white;
}

html, body {
  height: 100%;
  background: rgb(24, 24, 24);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr;
}

.left {
  margin-left: 15px;
}

/* Form Styling */
form {
  border: 1px solid white;
  padding: 20px;
}

#numbers {
  width: 98%;
}

input {
  width: 100%;
  margin-bottom: 10px;
  color: black;
}

form div {
  display: flex;
  gap: 5px;
}

button {
  color: black;
  height: 23px;
}

.rebalance-container {
  display: flex;
  flex-direction: column;
}

/* Information Styling */
.information {
  display: flex;
  border: 1px solid white;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  margin-top: 30px;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
  margin: 0px;
}

/* Tree Styling */
.tree {
  border: 1px solid white;
  margin-left: 30px;
  margin-right: 20px;
}