* {
  font-family: 'Source Code Pro','Times New Roman', Times, serif;
  color: white;
}

html {
  background: rgb(24, 24, 24);
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr;
}

form {
  padding: 20px;
  background-color: green;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

form div {
  display: flex;
  gap: 5px;
}

button {
  color: black;
  height: 23px;
}

.rebalance-container {
  display: flex;
  flex-direction: column;
}